@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  @apply text-xl text-gray-300;
}

html {
  @apply overflow-y-scroll;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif font-bold text-white;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-xl;
}

.dim {
  @apply text-gray-300;
}

.img-label {
  @apply flex items-center;
}

ol, ul {
  @apply list-inside;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

code {
  @apply bg-gray-800 rounded px-4 py-3 shadow;
}

article code {
  @apply w-full;
  overflow-x: scroll;
  display: block;
}

.material-icons.md-18 {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-body;
}

::-webkit-scrollbar-thumb {
  @apply bg-main;
}

article p {
  @apply my-2;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  @apply mt-2 mb-3;
}
