@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-xl text-gray-300;
}

html {
  @apply overflow-y-scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif font-bold text-white;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-xl;
}

.dim {
  @apply text-gray-300;
}

.img-label {
  @apply flex items-center;
}

code {
  @apply bg-gray-800 rounded px-4 py-3 shadow;
}

article ol,
article ul {
  @apply list-inside;
}

article ul {
  @apply list-disc;
}

article ol {
  @apply list-decimal;
}

article code {
  @apply w-full;
  overflow-x: scroll;
  display: block;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-body;
}

::-webkit-scrollbar-thumb {
  @apply bg-main;
}

article p {
  @apply my-2;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  @apply mt-2 mb-3;
}

.p-main-x {
  @apply px-14;
}

.p-main-y {
  @apply py-8;
}

.p-sidebar-x {
  @apply px-4;
}

/* constant defining padding of the buttons in the sidebar,
it's also use to make the text in the <Sidebar>'s footer
and header align with the text in the buttons
 */
.p-sidebar-btn-x {
  @apply px-5;
}

/* .btn-fade-effect-enter {
  opacity: 0;
}

.btn-fade-effect-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.btn-fade-effect-exit {
  opacity: 1;
}

.btn-fade-effect-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
} */

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
